body {
    background-image: url('../images/background.jpg');
}

h1 {
    font-family: 'EB Garamond', serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.profile-image {
    border: solid gray 2px;
    border-radius: 50%;
}

.row {
    background: #f8f9fa;
    border: solid gray 1px;
    border-top: 0px;
    padding-top: 5px;
}

.navbar {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    border: solid grey 1px;
}

.navbar-brand {
    font-size: 24px;
    margin: 0 2rem 0 0;
    padding: 0 1rem;
}

.nav-right {
    padding: 0 1rem;
    margin: 0 2rem 0 0;
}

.jumbotron {
    background: #f8f9fa !important;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    font-weight: 900;
    border: solid grey 1px;
    border-bottom: 0px;
}

.card-row {
    border: solid gray 1px;
    text-align: center;
    justify-content: center;
}

.card {
    margin: 1rem;
}

.button-row {
    background: white;
    border: none;
    justify-content: center;
}

.btn {
    margin-right: 2px;
    margin-left: 2px;
}

